<section id="skills" class="relative bg-black py-10 md:py-12 overflow-hidden">
  <div class="max-w-4xl mx-auto px-4">
    <!-- Título minimalista -->
    <h2
      class="text-center text-2xl md:text-3xl font-light text-white uppercase tracking-wider mb-8 md:mb-12 opacity-0 skills-title"
    >
      Habilidades Técnicas
    </h2>

    <!-- Contenedor flex con wrap -->
    <div class="flex flex-wrap justify-center gap-8 md:gap-10">
      <!-- HTML -->
      <div class="skill-item opacity-0 transform translate-y-4">
        <div
          class="flex flex-col items-center p-4 group transition-all duration-300 hover:brightness-125 hover:scale-105"
        >
          <div
            class="w-14 h-14 md:w-16 md:h-16 mb-3 transition-all duration-300 group-hover:drop-shadow-[0_0_12px_rgba(228,79,79,0.5)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="text-white w-full h-full group-hover:text-[#e44f26] transition-colors duration-300"
            >
              <path
                fill="currentColor"
                d="M6.233 2h.902v.89h.824V2h.902v2.697h-.902v-.903h-.824v.903h-.902zm3.813.894h-.793V2h2.489v.894h-.794v1.803h-.902zM12.136 2h.94l.579.948l.578-.948h.94v2.697h-.898V3.36l-.62.96h-.015l-.621-.96v1.337h-.882zm3.486 0h.901v1.806h1.268v.891h-2.17z"
              ></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="m4.915 5.93l1.29 14.464L11.99 22l5.802-1.609l1.291-14.46zm11.202 6.547H9.652l-.162-1.816h6.788l.159-1.774H7.552l.478 5.364h6.148l-.206 2.3l-1.978.535h-.002l-1.976-.533l-.126-1.415H8.11l.248 2.785l3.633 1.009l.009-.002l3.63-1.007l.443-4.97z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
          <span
            class="text-white text-sm md:text-base font-light transition-all duration-300 group-hover:text-[#e44f26] group-hover:drop-shadow-[0_0_6px_rgba(228,79,79,0.5)]"
            >HTML</span
          >
        </div>
      </div>

      <!-- CSS -->
      <div class="skill-item opacity-0 transform translate-y-4">
        <div
          class="flex flex-col items-center p-4 group transition-all duration-300 hover:brightness-125 hover:scale-105"
        >
          <div
            class="w-14 h-14 md:w-16 md:h-16 mb-3 flex items-center justify-center transition-all duration-300 group-hover:drop-shadow-[0_0_12px_rgba(33,147,216,0.5)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="text-white w-10 h-10 md:w-12 md:h-12 group-hover:text-[#663399] transition-colors duration-300"
              viewBox="0 0 16 16"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V0zM4.59 7.498q-.908 0-1.455.508q-.547.507-.547 1.484v3.106q0 .986.527 1.484t1.406.498q.576 0 1.016-.224q.45-.225.703-.674q.255-.45.254-1.114v-.185h-1.22v.176q0 .449-.186.683t-.527.235q-.372-.01-.557-.264q-.186-.255-.186-.752V9.686q0-.547.166-.811q.177-.264.577-.264q.321 0 .517.225q.195.224.195.693v.205h1.23V9.52q0-.674-.243-1.124a1.55 1.55 0 0 0-.664-.673q-.42-.225-1.006-.225m4.214-.01q-.586 0-1.006.244a1.67 1.67 0 0 0-.635.674a2.1 2.1 0 0 0-.225.996q0 .753.293 1.182q.304.42.967.732l.469.215q.44.186.625.43q.186.244.186.635q0 .478-.166.703q-.157.224-.528.224q-.36 0-.547-.244q-.185-.243-.205-.752H6.87q.02.996.498 1.524q.479.527 1.387.527t1.416-.518t.508-1.484q0-.81-.332-1.289q-.333-.479-1.045-.79l-.45-.196q-.39-.166-.556-.381q-.165-.214-.166-.576q0-.4.166-.596q.175-.195.508-.195q.36 0 .508.234q.156.234.175.703h1.123q-.03-.976-.498-1.484q-.468-.518-1.308-.518m4.057 0q-.585 0-1.006.244a1.67 1.67 0 0 0-.634.674a2.1 2.1 0 0 0-.225.996q0 .753.293 1.182q.303.42.967.732l.469.215q.438.186.625.43q.185.244.185.635q0 .478-.166.703q-.156.224-.527.224q-.361.001-.547-.244q-.186-.243-.205-.752h-1.162q.02.996.498 1.524q.479.527 1.386.527q.909 0 1.417-.518q.507-.517.507-1.484q0-.81-.332-1.289t-1.045-.79l-.449-.196q-.39-.166-.556-.381q-.166-.214-.166-.576q0-.4.165-.596q.177-.195.508-.195q.361 0 .508.234q.156.234.176.703h1.123q-.03-.976-.498-1.484q-.47-.518-1.309-.518"
              ></path>
            </svg>
          </div>
          <span
            class="text-white text-sm md:text-base font-light transition-all duration-300 group-hover:text-[#663399] group-hover:drop-shadow-[0_0_6px_rgba(102,51,153,0.5)]"
            >CSS</span
          >
        </div>
      </div>

      <!-- Tailwind -->
      <div class="skill-item opacity-0 transform translate-y-4">
        <div
          class="flex flex-col items-center p-4 group transition-all duration-300 hover:brightness-125 hover:scale-105"
        >
          <div
            class="w-14 h-14 md:w-16 md:h-16 mb-3 transition-all duration-300 group-hover:drop-shadow-[0_0_12px_rgba(6,182,212,0.5)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="text-white w-full h-full group-hover:text-[#06b6d4] transition-colors duration-300"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M7 9.969q1-4.063 5-4.063c4 0 4.5 3.047 6.5 3.555q2 .508 3.5-1.524Q21 12 17 12c-4 0-4.5-3.047-6.5-3.555Q8.5 7.938 7 9.97m-5 6.094Q3 12 7 12c4 0 4.5 3.047 6.5 3.555q2 .507 3.5-1.524q-1 4.063-5 4.063c-4 0-4.5-3.047-6.5-3.555q-2-.508-3.5 1.524"
                clip-rule="evenodd"></path>
            </svg>
          </div>
          <span
            class="text-white text-sm md:text-base font-light transition-all duration-300 group-hover:text-[#06b6d4] group-hover:drop-shadow-[0_0_6px_rgba(6,182,212,0.5)]"
            >Tailwind</span
          >
        </div>
      </div>

      <!-- Astro -->
      <div class="skill-item opacity-0 transform translate-y-4">
        <div
          class="flex flex-col items-center p-4 group transition-all duration-300 hover:brightness-125 hover:scale-105"
        >
          <div
            class="w-14 h-14 md:w-16 md:h-16 mb-3 transition-all duration-300 group-hover:drop-shadow-[0_0_12px_rgba(255,94,36,0.5)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="w-full h-full"
            >
              <!-- Normal state (white) -->
              <path
                class="fill-white group-hover:fill-[#ff5e24]"
                d="M9.24 19.035c-.901-.826-1.164-2.561-.789-3.819c.65.793 1.552 1.044 2.486 1.186c1.44.218 2.856.137 4.195-.524c.153-.076.295-.177.462-.278c.126.365.159.734.115 1.11c-.107.915-.56 1.622-1.283 2.158c-.289.215-.594.406-.892.608c-.916.622-1.164 1.35-.82 2.41l.034.114a2.4 2.4 0 0 1-1.07-.918a2.6 2.6 0 0 1-.412-1.401c-.003-.248-.003-.497-.036-.74c-.081-.595-.36-.86-.883-.876a1.034 1.034 0 0 0-1.075.843q-.013.058-.033.126"
              ></path>
              <path
                class="fill-white group-hover:fill-white"
                d="M4.1 15.007s2.666-1.303 5.34-1.303l2.016-6.26c.075-.304.296-.51.544-.51c.25 0 .47.206.545.51l2.016 6.26c3.167 0 5.34 1.303 5.34 1.303L15.363 2.602c-.13-.366-.35-.602-.645-.602H9.283c-.296 0-.506.236-.645.602c-.01.024-4.538 12.405-4.538 12.405"
              ></path>
            </svg>
          </div>
          <span
            class="text-white text-sm md:text-base font-light transition-all duration-300 group-hover:text-[#ff5e24] group-hover:drop-shadow-[0_0_6px_rgba(255,94,36,0.5)]"
            >Astro</span
          >
        </div>
      </div>

      <!-- React -->
      <div class="skill-item opacity-0 transform translate-y-4">
        <div
          class="flex flex-col items-center p-4 group transition-all duration-300 hover:brightness-125 hover:scale-105"
        >
          <div
            class="w-14 h-14 md:w-16 md:h-16 mb-3 transition-all duration-300 group-hover:drop-shadow-[0_0_12px_rgba(97,218,251,0.5)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="text-white w-full h-full group-hover:text-[#61dafb] transition-colors duration-300"
            >
              <path
                fill="currentColor"
                d="M18.323 9.007c-.226-.033-.42-.13-.646-.194c.033-.129.033-.258.097-.452c.452-2.322.13-4.16-.903-4.806c-1.032-.58-2.71.032-4.387 1.484c-.13.129-.355.258-.484.451c-.097-.096-.226-.193-.323-.322c-1.774-1.58-3.516-2.226-4.612-1.613c-1.033.58-1.355 2.355-.904 4.516c.033.226.097.452.13.645c-.226.033-.485.13-.71.226C3.484 9.684 2 10.878 2 12.007c0 1.225 1.58 2.451 3.742 3.16c.193.033.355.13.548.13c-.032.226-.129.451-.129.71c-.42 2.129-.096 3.838.936 4.419c1.032.645 2.838 0 4.516-1.548c.129-.13.258-.226.42-.355a4 4 0 0 0 .548.451c1.613 1.452 3.29 2.033 4.355 1.452c1.032-.645 1.387-2.452.935-4.71c-.032-.129-.032-.354-.13-.548c.13-.032.227-.032.356-.13C20.355 14.362 22 13.137 22 11.91c-.032-1-1.58-2.161-3.677-2.903m-5.29-3.29c1.45-1.259 2.806-1.71 3.45-1.388c.646.355.904 1.903.485 3.936c-.032.129-.032.225-.097.419c-.871-.194-1.71-.355-2.613-.42c-.484-.709-1.032-1.45-1.613-2.032a1.8 1.8 0 0 1 .387-.516M8.547 14.07c.194.355.42.678.646 1a10.6 10.6 0 0 1-1.807-.258a8 8 0 0 1 .645-1.71c.13.29.355.678.516.968m-1.16-4.645a22 22 0 0 1 1.773-.323c-.226.323-.42.646-.58 1c-.162.355-.355.646-.549 1.033c-.29-.613-.451-1.162-.645-1.71m1.031 2.677c.226-.548.549-1.032.871-1.58c.323-.549.645-1.033.936-1.549c.58-.032 1.161-.032 1.774-.032c.58 0 1.226.032 1.774.032c.355.484.645 1 .936 1.484c.322.484.58 1.033.87 1.58c-.225.55-.548 1.033-.87 1.582c-.323.548-.646 1.032-.936 1.548c-.58.032-1.161.032-1.806.032s-1.226-.032-1.774-.032c-.355-.484-.646-1-.936-1.548c-.29-.549-.548-.968-.839-1.517m7.033 1.968c.193-.355.354-.677.548-1.032c.226.548.452 1.129.645 1.71c-.58.129-1.226.225-1.87.322c.257-.322.483-.677.677-1m.58-2.968c-.193-.354-.355-.677-.548-1.032s-.42-.645-.58-.935a22 22 0 0 1 1.773.322c-.193.549-.419 1.097-.645 1.645M12 6.75c.42.451.774.903 1.129 1.387a28 28 0 0 0-2.322 0c.419-.516.838-.968 1.193-1.387M7.484 4.36c.645-.354 2.129.13 3.613 1.549c.097.097.193.193.322.258c-.58.645-1.129 1.355-1.677 2.032a23 23 0 0 0-2.613.42c-.032-.194-.097-.42-.129-.581c-.355-1.903-.129-3.323.484-3.678M6.58 14.62c-.13-.033-.323-.097-.484-.13a7.2 7.2 0 0 1-2.484-1.225c-.452-.323-.678-.71-.774-1.162c0-.71 1.258-1.612 3.032-2.258c.226-.096.452-.129.677-.225c.258.87.581 1.677.936 2.483c-.323.807-.678 1.613-.903 2.517m4.484 3.774a7.1 7.1 0 0 1-2.226 1.355a1.54 1.54 0 0 1-1.355.032c-.645-.355-.871-1.71-.549-3.58c.033-.227.097-.452.13-.646c.87.194 1.774.323 2.612.355c.484.71 1.097 1.451 1.678 2.097c-.032.193-.162.29-.29.387m.967-.903c-.42-.452-.774-.904-1.161-1.388c.355 0 .71.033 1.129.033s.806 0 1.161-.033c-.354.42-.71.871-1.129 1.387m5.097 1.128c-.032.452-.258.936-.645 1.226c-.645.355-1.936-.096-3.355-1.354c-.129-.13-.322-.259-.484-.452a17 17 0 0 0 1.613-2.097c.903-.032 1.774-.226 2.613-.42c.032.13.032.323.097.452c.226.904.226 1.807.161 2.645m.71-4.16c-.097.032-.226.032-.355.096c-.258-.871-.645-1.677-1-2.484c.355-.774.677-1.613.935-2.451c.226.032.42.129.581.193c1.806.645 3.064 1.548 3.064 2.258c.033.742-1.29 1.742-3.225 2.387M12 13.844c1 0 1.774-.806 1.774-1.774A1.79 1.79 0 0 0 12 10.297c-.935 0-1.774.806-1.774 1.774S11 13.845 12 13.845"
              ></path>
            </svg>
          </div>
          <span
            class="text-white text-sm md:text-base font-light transition-all duration-300 group-hover:text-[#61dafb] group-hover:drop-shadow-[0_0_6px_rgba(97,218,251,0.5)]"
            >React</span
          >
        </div>
      </div>

      <!-- Python -->
      <div class="skill-item opacity-0 transform translate-y-4">
        <div
          class="flex flex-col items-center p-4 group transition-all duration-300 hover:brightness-125 hover:scale-105"
        >
          <div class="relative w-14 h-14 md:w-16 md:h-16 mb-3">
            <!-- Logo blanco por defecto -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="absolute inset-0 w-full h-full fill-white group-hover:opacity-0 transition-opacity duration-300"
            >
              <path
                d="M9.86 2A2.86 2.86 0 0 0 7 4.86v1.68h4.29c.39 0 .71.57.71.96H4.86A2.86 2.86 0 0 0 2 10.36v3.781a2.86 2.86 0 0 0 2.86 2.86h1.18v-2.68a2.85 2.85 0 0 1 2.85-2.86h5.25c1.58 0 2.86-1.271 2.86-2.851V4.86A2.86 2.86 0 0 0 14.14 2zm-.72 1.61c.4 0 .72.12.72.71s-.32.891-.72.891c-.39 0-.71-.3-.71-.89s.32-.711.71-.711"
              ></path>
              <path
                d="M17.959 7v2.68a2.85 2.85 0 0 1-2.85 2.859H9.86A2.85 2.85 0 0 0 7 15.389v3.75a2.86 2.86 0 0 0 2.86 2.86h4.28A2.86 2.86 0 0 0 17 19.14v-1.68h-4.291c-.39 0-.709-.57-.709-.96h7.14A2.86 2.86 0 0 0 22 13.64V9.86A2.86 2.86 0 0 0 19.14 7zM8.32 11.513l-.004.004l.038-.004zm6.54 7.276c.39 0 .71.3.71.89a.71.71 0 0 1-.71.71c-.4 0-.72-.12-.72-.71s.32-.89.72-.89"
              ></path>
            </svg>

            <!-- Logo con colores originales al hacer hover -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-300"
            >
              <path
                fill="#0288d1"
                d="M9.86 2A2.86 2.86 0 0 0 7 4.86v1.68h4.29c.39 0 .71.57.71.96H4.86A2.86 2.86 0 0 0 2 10.36v3.781a2.86 2.86 0 0 0 2.86 2.86h1.18v-2.68a2.85 2.85 0 0 1 2.85-2.86h5.25c1.58 0 2.86-1.271 2.86-2.851V4.86A2.86 2.86 0 0 0 14.14 2zm-.72 1.61c.4 0 .72.12.72.71s-.32.891-.72.891c-.39 0-.71-.3-.71-.89s.32-.711.71-.711"
              ></path>
              <path
                fill="#fdd835"
                d="M17.959 7v2.68a2.85 2.85 0 0 1-2.85 2.859H9.86A2.85 2.85 0 0 0 7 15.389v3.75a2.86 2.86 0 0 0 2.86 2.86h4.28A2.86 2.86 0 0 0 17 19.14v-1.68h-4.291c-.39 0-.709-.57-.709-.96h7.14A2.86 2.86 0 0 0 22 13.64V9.86A2.86 2.86 0 0 0 19.14 7zM8.32 11.513l-.004.004l.038-.004zm6.54 7.276c.39 0 .71.3.71.89a.71.71 0 0 1-.71.71c-.4 0-.72-.12-.72-.71s.32-.89.72-.89"
              ></path>
            </svg>
          </div>
          <span
            class="text-white text-sm md:text-base font-light transition-colors duration-300 group-hover:text-white"
          >
            Python
          </span>
        </div>
      </div>

      <!-- SQL -->
      <div class="skill-item opacity-0 transform translate-y-4">
        <div
          class="flex flex-col items-center p-4 group transition-all duration-300 hover:brightness-125 hover:scale-105"
        >
          <div
            class="w-14 h-14 md:w-16 md:h-16 mb-3 transition-all duration-300 group-hover:drop-shadow-[0_0_12px_rgba(59,130,246,0.5)]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="text-white w-full h-full group-hover:text-blue-500 transition-colors duration-300"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M20.422 17.337c-1.088-.03-1.932.081-2.64.379c-.203.082-.53.082-.557.338c.11.108.122.284.218.433c.163.27.449.635.707.824l.87.622c.531.325 1.13.514 1.647.838c.299.19.598.433.898.636c.152.108.244.284.435.352v-.041c-.095-.122-.123-.297-.217-.433l-.409-.392a6.4 6.4 0 0 0-1.415-1.365c-.435-.298-1.387-.703-1.564-1.203l-.027-.03c.299-.03.653-.136.939-.217c.463-.121.884-.095 1.36-.216l.653-.19v-.12c-.245-.244-.422-.569-.68-.798a18 18 0 0 0-2.245-1.663c-.422-.27-.966-.447-1.415-.676c-.164-.081-.435-.122-.53-.257c-.246-.297-.381-.69-.558-1.041l-1.116-2.353c-.245-.527-.395-1.054-.694-1.54c-1.4-2.3-2.925-3.692-5.265-5.058c-.503-.284-1.101-.406-1.738-.554l-1.02-.055c-.218-.094-.436-.351-.626-.473c-.775-.487-2.775-1.541-3.347-.151c-.368.878.544 1.743.854 2.19c.231.31.53.662.694 1.014c.091.23.122.473.217.716c.218.595.422 1.258.708 1.812c.152.284.312.582.503.839c.109.151.3.216.34.46c-.19.27-.204.675-.313 1.014c-.49 1.528-.3 3.42.395 4.545c.218.338.731 1.082 1.428.798c.613-.244.476-1.014.653-1.69c.041-.162.014-.27.095-.379v.03l.558 1.123c.422.662 1.157 1.352 1.769 1.812c.326.243.584.662.992.81v-.04h-.026c-.082-.121-.205-.176-.314-.27a6.6 6.6 0 0 1-.707-.812a17.4 17.4 0 0 1-1.523-2.46c-.218-.42-.409-.879-.585-1.298c-.083-.162-.083-.406-.218-.487c-.205.297-.503.555-.654.92c-.258.58-.285 1.297-.38 2.041c-.055.014-.03 0-.055.03c-.435-.107-.585-.554-.748-.932c-.408-.96-.476-2.501-.123-3.61c.096-.284.504-1.177.341-1.447c-.082-.257-.354-.405-.504-.608a5.5 5.5 0 0 1-.49-.865c-.325-.758-.489-1.596-.843-2.353c-.163-.352-.449-.717-.68-1.041c-.259-.365-.544-.622-.748-1.055c-.068-.151-.163-.392-.054-.554c.026-.108.081-.152.19-.176c.176-.151.68.04.857.121c.503.203.925.392 1.347.676c.19.135.394.392.64.46h.285c.436.095.925.03 1.333.152c.72.23 1.374.567 1.96.933a12 12 0 0 1 4.244 4.624c.163.311.23.595.38.92c.287.662.64 1.338.926 1.987c.286.636.558 1.285.966 1.812c.204.284 1.02.433 1.387.582c.272.12.694.23.94.378c.461.284.924.609 1.359.92c.217.162.898.5.939.77zM6.548 5.588a2.2 2.2 0 0 0-.557.068v.03h.027c.109.216.3.365.435.555l.313.649l.027-.03c.19-.136.286-.352.286-.676c-.082-.095-.095-.19-.163-.284c-.082-.135-.259-.203-.368-.311"
                clip-rule="evenodd"></path>
            </svg>
          </div>
          <span
            class="text-white text-sm md:text-base font-light transition-all duration-300"
          >
            <span class="group-hover:text-blue-500">My</span><span
              class="group-hover:text-[#f0a200] group-hover:drop-shadow-[0_0_6px_rgba(240,162,0,0.5)]"
              >SQL</span
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const skillsSection = document.getElementById("skills");
    const skillItems = document.querySelectorAll(".skill-item");
    const skillsTitle = document.querySelector(".skills-title");
    const prefersReducedMotion = window.matchMedia(
      "(prefers-reduced-motion: reduce)"
    ).matches;

    if (!prefersReducedMotion) {
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              // Animación del título
              gsap.to(skillsTitle, {
                opacity: 1,
                duration: 0.8,
                ease: "power2.out",
              });

              // Animación escalonada de los skills
              gsap.to(skillItems, {
                opacity: 1,
                y: 0,
                duration: 0.6,
                stagger: 0.08,
                ease: "power2.out",
                delay: 0.2,
              });

              // Reiniciar animaciones cuando el elemento deja de ser visible
            } else {
              gsap.set([skillsTitle, ...skillItems], {
                opacity: 0,
                y: 20,
              });
            }
          });
        },
        { threshold: 0.1 }
      );

      observer.observe(skillsSection);
    } else {
      gsap.set([skillsTitle, ...skillItems], {
        opacity: 1,
        y: 0,
      });
    }
  });
</script>

<style>
  .skill-item {
    transition:
      opacity 0.4s ease,
      transform 0.4s ease;
  }

  /* Efectos hover mejorados */
  .group:hover .w-14 {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  /* Ajustes para móvil */
  @media (max-width: 640px) {
    #skills {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    .skills-title {
      margin-bottom: 1.5rem;
      font-size: 1.75rem;
    }

    .flex-wrap {
      gap: 1.5rem;
    }
  }
</style>
